.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

div>div>div>a{
	color:mediumblue;
	background-color: lightgray;
}

div>div>div>table>tbody>tr>td>a {
	color:black;
}


img {
	transition: transform 1s;
}

img:hover {
	transform: rotate(180deg);
}

#else{
		color:mediumblue;
	
}