<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="org.sweeter.application.model.mapper.CommentMapper">
	<!-- CREATE -->
	<insert id="writeComment">
		Insert INTO Comment(post,WRITER,CONTENT) values(#{post}, #{writer}, #{content})
	</insert>
	
	<!-- READ -->
	<select id="getCommentList"
		resultType="org.sweeter.application.model.dto.Comment">
		SELECT id,writer,FORMATDATETIME(writedate,'yyyy-MM-dd HH:mm') as writeDate,FORMATDATETIME(modifydate,'yyyy-MM-dd HH:MM') as modifyDate,content,post FROM Comment WHERE post = #{post}
<!-- 		LIMIT #{count} OFFSET (#{page}-1) * #{count}  -->
	</select>

	<select id="getAllCommentByPost"
		resultType="org.sweeter.application.model.dto.Comment">
		SELECT id,writer,FORMATDATETIME(writedate,'yyyy-MM-dd HH:mm') as writeDate,FORMATDATETIME(modifydate,'yyyy-MM-dd HH:MM') as modifyDate,content,post FROM Comment WHERE post = #{post}
	</select>

	<!-- READ -->
	<select id="getCommentById"
	resultType="org.sweeter.application.model.dto.Comment">
		SELECT * FROM Comment WHERE id = #{id}
	</select>

	<!-- UPDATE -->
	<update id="updateComment">
		UPDATE Comment set writer = #{writer}, modifyDate=#{modifyDate}, content=#{content} where id=#{id}
	</update>

	<!-- DELETE -->
	<delete id="deleteComment">
		DELETE from comment where id= ${id}
	</delete>
	
	
</mapper>